<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div style="text-align: center;line-height: 5; font-size: 40px">
    hello, world!
		<p><a href="/pages/chat-room">去聊天室逛逛吧</a></p>
  </div>
</body>
</html>